
.div1 {
  background-image: url("p1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
height: 900px;
width: 100%;
background-color: white;

  
}
.drop {
	margin:0;
	padding:0;
	overflow: hidden;
	display: inline-block;
}
.drop  li{
	float:left;
	list-style-type: none;
	margin:6px;
	

}
.drop  li a{
	color:black;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 16px;
	display: inline-block;
	font-size: 20px;
}
.drop  li a:hover{
	color: red;
	
}

.button {
  background-color:#3333ff;
  border-radius:20px;
  color: white;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 20px;
  float: right ;
  padding: 10px 28px;
}
.button1 {
	
	margin: 60px 400px 280px 600px;
}
.button:hover {
  background-color: #4dd2ff;
  color:black;
}
.p1 {
color: #009999;
font-size: 80px;
text-align: center;
margin: 0px 80px 0px 80px;
}
.div2 {

height: 500px;
width: 500px;
background-color:white;
display: inline-block;
}
.div2 p {

color: black;
font-size: 60px;
font-weight: bold;
padding: 60px;

}
.button3 {
  border: 2px solid black;
  border-radius:20px;
  color:black;
  padding: 20px 42px;
  margin: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  float: left;
}
.button3:hover {
  background-color: #4dd2ff;
  color:black;
}
.div3 {

height: 300px;
width: 700px;
background-color:white;
float: right;
margin-top: 115px;
display: inline-block;
}
.div3 p {

color: black;
font-size: 30px;
font-weight: normal;
padding: 60px;
text-align: left;
padding: 0;
margin: 0;
padding-right: 180px;

}
.div4 {

height: 300px;
width:100%;
background-color:white;
margin-top:0;
display: inline-block;
}
.div4 p {

color: black;
font-size: 30px;
font-weight: normal;
text-align:left;
padding: 0;
margin: 0px  200px 0px 640px;
float: right;

}
.div4 h1 {

float: right;
padding-right: 312px;
margin-bottom: 0px;

}
.div5 {
	width: 100%;
	margin-top: 150px;

}
.img2{
	margin-left: 200px;
}
.div6 {
	background-color: #e0ebeb;
	height: 900px;
	margin: 50px 100px 10px 100px;
	padding: 20px;
}
.div6 .p2 {
	font-size: 55px;
	font-weight: bold;
	width: 50%;
}
th{
	text-align: left;
	font-weight: bold;
	font-size:22px;
}
td{
	text-align: left;
	font-weight:normal;
	font-size:20px;
}
.td1{
	
	font-weight:bold;
	
}
.button4 {
  border: 2px solid black;
  border-radius:20px;
  color:black;
  padding: 20px 42px;
  margin: 40px 400px 20px 400px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
 
}
.button4:hover {
  background-color: #4dd2ff;
  color:black;
}

.p3{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}
.link {
	color: black;
	font-weight: bold;
	font-size: 25px;
	margin-left: 400px;
}
.div7 {
	width: 100%;
	margin-top: 60px;

}
.img3{
	margin-left: 110px;
}

li{
	list-style-type: none;
	float: left;
	color: black;
	font-weight: bold;
	font-size: 16px;
	
	

}
.link2 {
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;

}
ul{
	margin: 0px 320px 0px 320px;
	}

.button5 {
  border: 2px solid black;
  border-radius:20px;
  color:black;
  padding: 20px 42px;
  margin: 40px 400px 20px 600px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
 
}
.button5:hover {
  background-color: #4dd2ff;
  color:black;
}




div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.dsc {
  padding: 15px;
  text-align: center;
}

.div8{

	height: 300px;
	width: 90%;
	margin-left: 270px;
	margin-top: 80px;
}

.div9{
	width: 100%;
	height: 450px;
	background-color: #3333ff;
}
.div9 p{
	font-weight: bold;
	font-size: 70px;
	text-align: center;
	color: white;
	padding-top: 90px;
}

.button6 {
  border: 2px solid black;
  border-radius:30px;
  color:blue;
  background-color: white;
  padding: 12px 42px;
  margin: 40px 400px 20px 550px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
 
}
.button6:hover {
  background-color: #4dd2ff;
  color:black;
}
